@keyframes rise {
  from {
    transform: translateY(calc(100% + 25px));
  }
  to {
    transform: translateY(0);
  }
}

.main {
  position: relative;
  overflow: hidden;
}

.canvas {
  border: 0;
  margin: auto;
  padding: 0;
  outline: 0;
  max-width: 100vw;
  max-height: 100vh;
  display: block;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.7s ease 1.2s;
}

.buttons.shown {
  opacity: 1;
}

.jump.button, .slide.button {
  height: 50%;
  box-sizing: border-box;
  cursor: pointer;
  background: #522cd0;
  text-transform: uppercase;
  border: 4px white solid;
  border-left: 0px;
  border-right: 0px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  position: relative;
}

.jump.button {
  border-top-width: 0;
  border-bottom-width: 2px;
}

.slide.button {
  border-top-width: 2px;
}

.button-text {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 15px;
  left: 0;
  right: 0;
  height: 0;
  line-height: 0;
  font-size: 75px;
}

.overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.overlay.starting {
  pointer-events: inherit;
  z-index: 1;
  background: #FF4014;
  box-sizing: border-box;
  border: 10px solid #522cd0;
}

.score {
  background: #522cd0;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-weight: 800;
}

.frame {
  width: calc(100% - 20px);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  border: 10px solid #522cd0;
}

.texture {
  background-image: url('/images/misc/texture.png');
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.3;
  z-index: 2;
}

.game_over {
  background: #ffd200;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 0.4s ease 1 rise;
}

.game_over__image, .game_over__copy {
  display: inline-block;
  vertical-align: middle;
}

.game_over__image {
  -webkit-filter: brightness(0);
  filter: brightness(0);
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 55%;
}

.game_over__copy {
  width: 55%;
  top: -22px;
  position: relative;
}

.game_over__score {
  font-size: 55px;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}

.game_over__description, .game_over__ctas-header {
  font-size: 22px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.game_over__description__bold, .game_over__ctas-header {
  display: inline-block;
  font-weight: 700;
}

.game_over__ctas__article, .game_over__ctas__action, .game_over__ctas__play-again {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 50px;
  line-height: 18px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
}

.game_over__ctas__article, .game_over__ctas__action {
  background: black;
  margin-right: 10px;
}

.game_over__ctas__article a, .game_over__ctas__action a {
  color: white;
  text-decoration: none;
}

.front-logo {
  background-image: url('/images/misc/logo.png');
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 12%;
}

.play-button {
  color: white;
  background: #522cd0;
  bottom: 18%;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  border-radius: 1000px;
  padding: 12px 24px;
}

.play-button .copy {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  position: relative;
  bottom: 2px;
  margin-left: 15px;
}

.trans-icon {
  background-image: url('/images/misc/trans-icon.png');
  height: 50px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
